# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Virtual envs
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# IDE / editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db
